/* Staff Submission */

.header {
    background-color: blueviolet;
    padding: 20px 20px;
    margin-bottom: 25px;
}

.header h1 {
    color: aliceblue;
    text-align: center;
}

.btn-button {
    margin-left: 10px;
}

/* List Staff Submission */
.info {
    margin: 20px 20px;
}

.btn-details {
    background-color: yellow;
}

.btn-like {
    margin: 10px 10px 10px 10px;
}

.btn-dislike {
    background-color: red;
}

.add-idea {
    margin: 10px 10px;
    background-color: chartreuse;
}

/* New Staff Submission */
.btn-createidea {
    border-radius: 15px;
    color: aliceblue;
    background-color: green;
    margin: 10px 10px;
    padding: 5px 10px 5px 10px;
}

.btn-createidea:hover {
    background-color: grey;
}

/* Details page */
.comment {
    border-style: ridge;
}

.submit-comment {
    color: white;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    margin: 10px 10px;
    background-color: dodgerblue;
}

.submit-comment:hover {
    background-color: aqua;
}